<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.2.xsd">
    <context:component-scan base-package="com.dada.{basic}.web.controller"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<mvc:resources mapping="/static/**" location="/static/" />


	<!-- 作为服务项目 start -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean id="jsonConverter"
				class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
				<property name="objectMapper" ref="objectMapper" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="objectMapper" class="org.codehaus.jackson.map.ObjectMapper">
		<property name="serializationInclusion">
			<value type="org.codehaus.jackson.map.annotate.JsonSerialize.Inclusion">NON_NULL</value>
		</property>
	</bean>

	<bean id="responseStatusBasicExceptionResolver"
		class="com.dada.common.web.spring.ResponseStatusBasicExceptionResolver">
		<property name="order">
			<util:constant static-field="org.springframework.core.Ordered.HIGHEST_PRECEDENCE" />
		</property>
	</bean>

	<!-- 作为服务项目 end -->

	<!-- 作为web项目 start -->

	<bean id="velocityViewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="/" />
		<property name="suffix" value=".vm" />
		<property name="toolboxConfigLocation" value="/WEB-INF/classes/velocity/toolbox.xml" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true"></property>
		<property name="dateToolAttribute" value="date" /><!--日期函数名称 -->
		<property name="numberToolAttribute" value="number" /><!--数字函数名称 -->
		<property name="contentType" value="text/html;charset=UTF-8" />
	</bean>

	<!-- velocity环境配置 -->
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<!-- velocity配置文件路径 -->
		<property name="configLocation" value="classpath:velocity/velocity.properties" />
		<!-- velocity模板路径 -->
		<property name="resourceLoaderPath" value="/WEB-INF/vm" />
	</bean>

	<!-- 将Controller抛出的异常转到特定View, 保持SiteMesh的装饰效果 -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Throwable">error/500</prop>
			</props>
		</property>
		<!-- set order high -->
		<property name="order" value="1"></property>
	</bean>

	<bean class="com.dada.common.web.listener.WebResourceInitListener">
		<property name="webResource">
			<ref bean="webResource" />
		</property>
	</bean>

	<bean id="webResource" class="com.dada.common.web.listener.WebDynamicResource">
		<property name="staticAddress" value="${staticResourceAddress}" />
		<property name="staticVersion" value="${staticResourceVersion}" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="100000"></property>
	</bean>

	<!-- 作为web项目 end -->
</beans>
