<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        ">

    <bean id="discoveryService" class="com.dada.base.registry.consumer.impl.DiscoveryServiceImpl">
        <property name="zkHosts" value="${zk.hosts}"/>
        <property name="connectionTimeoutMills" value="${zk.connectionTimeoutMills}"/>
        <property name="localRegistrySwitch" value="${local.registry.switch:false}" />
        <property name="localRegistryApps" value="${local.registry.apps:false}" />
        <property name="services">
            <map>
                <entry key="sample-service" value-ref="sample-service"/>
            </map>
        </property>
    </bean>

    <util:list id="sample-service" list-class="java.util.ArrayList">
        <value>sample</value>
    </util:list>


</beans>