<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    ">

    <bean id="cfgserviceProps" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:properties/${env.id}/config.properties"/>
    </bean>

    <bean id="localProps" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:properties/${env.id}/*.properties</value>
            </list>
        </property>
    </bean>

    <bean name="configService" class="com.dada.base.config.util.DefaultConfigService">
        <constructor-arg index="0" value="redis://#{cfgserviceProps.redis}"/>
        <constructor-arg index="1" value="#{cfgserviceProps.zk}"/>
        <constructor-arg index="2" value="#{cfgserviceProps.systemName}"/>
        <constructor-arg index="3" value="#{cfgserviceProps.local}"/>
        <constructor-arg index="4" ref="localProps" />
    </bean>

	<bean name="config" class="com.dada.base.config.util.ConfigHolder">
		<constructor-arg index="0" ref="configService"/>
	</bean>

</beans>
