<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       default-autowire="byName"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	">

    <bean id="kafkaProducerFactory" class="org.springframework.kafka.core.DefaultKafkaProducerFactory">
        <constructor-arg>
            <map>
                <entry key="bootstrap.servers" value="${bootstrap.servers}" />
                <entry key="retries" value="0" />
                <entry key="batch.size" value="16384" />
                <entry key="linger.ms" value="1" />
                <entry key="key.serializer" >
                    <value type="java.lang.Class">org.apache.kafka.common.serialization.StringSerializer</value>
                </entry>
                <entry key="value.serializer">
                    <value type="java.lang.Class">org.apache.kafka.common.serialization.StringSerializer</value>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="stringKafkaTemplate" class="com.dada.base.kafka.StringKafkaTemplate" >
        <constructor-arg ref="kafkaProducerFactory" />
    </bean>

    <bean id="kafkaLogger" class="com.dada.base.kafka.KafkaLogger">
        <constructor-arg ref="stringKafkaTemplate" />
    </bean>


</beans>
